@model LoginDto

@{
    ViewData["Title"] = "Đăng nhập hệ thống";
}

<!-- Login Section Begin -->
<section class="login spad">
    <div class="container">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success">@ViewBag.Message</div>
        }
        <div class="row">
            <div class="col-lg-6">
                <div class="login__form">
                    <h3>Đăng Nhập</h3>
                    <form asp-action="Login" method="post">
                        <div class="input__item">
                            <input asp-for="Name" type="text" placeholder="Tên tài khoản">
                            <span><i class="fa-regular fa-user"></i></span>
                        </div>
                        <div class="input__item">
                            <input asp-for="Password" type="password" placeholder="Mật khẩu">
                            <span><i class="fa-solid fa-lock"></i></span>
                        </div>
                        <button type="submit" class="site-btn">Đăng nhập</button>
                    </form>
                    <a href="#" class="forget_pass">Quên mật khẩu?</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login__register">
                    <h3>Chưa có tài khoản?</h3>
                    <a asp-action="Register" class="primary-btn">Đăng ký ngay</a>
                    <div><span asp-validation-for="Name" class="text-danger"></span></div>
                    <div><span asp-validation-for="Password" class="text-danger"></span></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Login Section End -->